<table>
  <% @rows.each do |row| %>
    <tr>
      <% @columns.each do |col| %>
        <% sheet = @sheets.find { |s| s.row == row && s.column == col } %>
        <% if @reserved_sheet_ids.include?(sheet.id) %>
          <td class="reserved"><%= sheet.formatted_name %></td>
        <% else %>
          <td>
            <%= link_to sheet.formatted_name, new_movie_schedule_reservation_path(
              date: @date,
              movie_id: @movie.id,
              schedule_id: @schedule.id,
              sheet_id: sheet.id
            ) %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
