<div class="overflow-x-auto mt-8">
  <table class="min-w-full border border-gray-200 rounded-lg shadow bg-white">
    <tbody>
      <% @rows.each do |row| %>
        <tr>
          <% @columns.each do |col| %>
            <% sheet = @sheets.find { |s| s.row == row && s.column == col } %>
            <td class="px-4 py-2 text-center border border-gray-200"><%= sheet.formatted_name %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
